.bg-banner {
  background: url(../images/banner.jpg) center 40% / cover;
  height: 582px;
  @include medium {
    background-position: 80% 40%;
  }
  @include small {
    height: 560px;
    background-position: 80% 40%;
  }
}
